<div [class]="['p-' + paddingSize]">
    <div class="card w-100" style="min-height: 46rem;" [class]="['p-' + paddingSize]">
        <div class="mb-5">
            <h2 class="title-f-card"><i class="mdi mdi-account-music-outline" style="margin-right: 5px;"></i>Reuniões
                Musicais</h2>
        </div>

        <div *ngFor="let reuniaoMusical of reunioesMusicais; let last = last">

            <div class="d-flex gap-5">
                <div>
                    <iframe [src]="getSafeTrailerUrl(reuniaoMusical.iframeMaps)" width="400" height="250" style="border:0; border-radius: 8px;"
                        allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                </div>

                <div class="d-flex flex-column justify-content-between">
                    <h3 class="c-title-rm">{{ reuniaoMusical.nome }}</h3>

                    <p class="event-text">{{ reuniaoMusical.texto }}</p>

                    <div>
                        <div class="d-flex gap-2">
                            <i class="mdi mdi-map-marker" style="font-size: 20px;"></i>
                            <p class="event-text">{{ reuniaoMusical.localidade }}</p>
                        </div>

                        <div class="d-flex align-items-center gap-2 mb-3">
                            <i class="mdi mdi-calendar-range" style="font-size: 20px; margin-right: 2px;"></i>
                            <div class="eventos-container">
                                <p class="event-text-box mb-0" *ngFor="let data of reuniaoMusical.data">{{ data |
                                    date:'EEEE - dd/MM HH:mm' }}</p>
                            </div>
                        </div>
                    </div>

                </div>
            </div>

            <div *ngIf="!last" class="mt-5 mb-5">
                <hr>
            </div>

        </div>
    </div>
</div>