@import '/src/styles/cores.scss';

.navbar {
    padding: 0.5rem 2.5rem;
    box-shadow: 0px 6px 5px -2px rgba(0, 0, 0, 0.11);
    -webkit-box-shadow: 0px 6px 5px -2px rgba(0, 0, 0, 0.11);
    -moz-box-shadow: 0px 6px 5px -2px rgba(0, 0, 0, 0.11);

    background-color: $tertiary-color !important;

    .mdi-music-clef-bass {
        font-size: 30px;
    }

    .logo-image {
        width: 4.2rem;
        height: 3rem;
        aspect-ratio: 1/1;
        object-fit: cover;
        object-position: center;
        margin-right: 1rem;
        cursor: pointer;
        transition: transform 0.3s ease;
    }

    .logo-image:hover {
        transform: scale(1.05);
    }

    .navbar-nav .nav-link {
        position: relative;
        text-decoration: none;
    }

    .navbar-nav .nav-item:not(.dropdown) .nav-link {
        position: relative;
        text-decoration: none;
    }

    .navbar-nav .nav-item:not(.dropdown) .nav-link::after {
        content: '';
        position: absolute;
        bottom: 3px;
        left: 0;
        width: 0;
        height: 2px;
        background-color: $text-details;
        transition: width 0.3s ease;
    }

    .navbar-nav .nav-item:not(.dropdown) .nav-link:hover::after {
        width: 100%;
    }

    .navbar-nav .nav-item a {
        display: flex;
        align-items: center;
    }

    .navbar-nav .nav-item i {
        font-size: 22px;
        margin-right: 5px;
    }

    .navbar-nav .nav-item img {
        width: 25px;
        margin-right: 5px;
        margin-bottom: 5px;
    }
}