<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <img (click)="irParaPrincipal()" class="logo-image" src="assets/ccb.jpg" alt="logo-musical">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav d-flex align-items-center gap-3 me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#"><i
                            class="mdi mdi-account-music-outline"></i>Reuniões Musicais</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#"><i
                            class="mdi mdi-calendar-text-outline"></i>Calendário Musical</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#"><img src="assets/regional-icon.png"
                            alt="regional-icon">Ensaio Regional</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                        data-bs-toggle="dropdown" aria-expanded="false">
                        <img src="assets/local-icon.png" alt="local-icon">
                        Ensaio Local
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li *ngFor="let localidade of eventosData">
                            <a class="dropdown-item" (click)="irParaDetalhes(localidade)">{{ localidade.localidade }}</a>
                        </li>
                    </ul>
                </li>
            </ul>
            <form class="d-flex">
                <button class="btn btn-outline-dark" type="submit"><i class="mdi mdi-contacts-outline mr2"></i><span
                        style="margin-left: 4px;">Contatos</span></button>
            </form>
        </div>
    </div>
</nav>