.p-out-card {
    padding: 3rem 10rem;
}

.p-card {
    padding: 4rem;
}

.evento-image {
    max-width: 70%;
    aspect-ratio: 1/1;
    object-fit: cover;
    object-position: center top;
    border-radius: 16px;
}

.iframe-s {
    min-width: 65%;
    height: 65% !important;
    border-radius: 16px;
    border: 0;
}

.bl {
    border-left: solid 4px #666666;
    padding-left: 2rem;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
}

.title-details {
    font-size: 2.4rem;
    color: #5a5a5a;
    font-weight: 400;
}

.sub-title-details {
    font-size: 1.4rem;
    font-style: italic;
    font-weight: 200;
    margin-left: 5px;
}

.informations {
    font-size: 1.3rem;
    color: #414141;
}

.grid-container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: flex-start;
}

.grid-item {
    border: 1px solid #989898;
    padding: 10px 0;
    text-align: center;
    width: calc(32% - 25px);
    box-sizing: border-box;
    margin-bottom: 1px;
    border-radius: 8px;
    background-color: #fafafa;
    transition: 0.3s;
    cursor: default;
}

.grid-item:hover {
    background-color: #fff;

}

.fs-22 {
    font-size: 22px;
}

.pr-6 {
    padding-right: 6rem;
}