.evento-image {
    max-width: 82%;
    aspect-ratio: 1/1;
    object-fit: cover;
    object-position: center top;
    border-radius: 16px;
    box-shadow: 0px 4px 41px -19px rgba(0, 0, 0, 0.75);
}

.iframe-s {
    width: 100%;
    height: 350px;
    border-radius: 16px;
    border: 0;
}

.bl {
    border-left: solid 4px #666666;
    padding-left: 2rem;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    margin-top: 20px;
}

.title-details {
    font-size: 2.4rem;
    color: #5a5a5a;
    font-weight: 400;
}

.sub-title-details {
    font-size: 1.4rem;
    font-style: italic;
    font-weight: 200;
    margin-left: 5px;
}

.informations {
    font-size: 1.3rem;
    color: #414141;
}

.grid-container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: flex-start;
}

.grid-item {
    border: 1px solid #989898;
    padding: 10px 0;
    text-align: center;
    width: calc(32% - 25px);
    box-sizing: border-box;
    margin-bottom: 1px;
    border-radius: 8px;
    background-color: #fafafa;
    min-width: 6.4rem;
    transition: 0.3s;
    cursor: default;
}

.grid-item:hover {
    background-color: #fff;
}

.fs-22 {
    font-size: 22px;
}

.pr-6 {
    padding-right: 6rem;
}

.evento-passado {
    opacity: 0.4;
}

@media (max-width: 768px) {
    .title-details {
        font-size: 1.6rem;
    }

    .grid-item {
        width: calc(55% - 25px);
    }
}