@import 'styles/cores.scss';


* {
    margin: 0;
    padding: 0;
}

body {
    font-weight: 400;
    font-family: "Nunito", sans-serif;
    background-color: $secondary-color;
    font-style: normal;
    font-optical-sizing: auto;
    color: $text-color;
}

.card {
    border: none;
    border-radius: 16px;
    -webkit-box-shadow: -2px 0px 27px -9px rgba(0, 0, 0, 0.41);
    -moz-box-shadow: -2px 0px 27px -9px rgba(0, 0, 0, 0.41);
    box-shadow: -2px 0px 27px -9px rgba(0, 0, 0, 0.41)
}

.c-title {
    color: #AAAAAB;
    font-size: 2.25rem;
    margin-bottom: 20px;
}