$primary-color: #ededed;
$secondary-color: #d6dae5;
$tertiary-color: #fff;

$text-color: #05050a;

*{
    margin: 0;
    padding: 0;
}

body {
    font-weight: 400;
    font-family: 'Ubuntu', sans-serif;
    background-color: $primary-color;
}